<?xml version="1.0"?>
  <MetraTech>
  
    <!-- Enumerated Type, View Hierarchy, Service to Stage Map -->
    <MenuGroup>
      <name>Configuration</name>
      <item>
        <name>Enumerated Types</name>
        <link>/MPM/default/dialog/Enumtypes/EnumspaceSelect.asp</link>
        <target>fmeMain</target>
      </item>
  
      <item>
        <name>View Hierarchy</name>
        <link>/MPM/default/dialog/MTFleXML/editxml_extensions.asp?xmlFile=/config/viewinfo/view_hierarchy.xml&amp;Schema=/MPM/default/dialog/MTFleXML/schema/pipeline/ViewHierarchySchema.xml</link>
        <target>fmeMain</target>
      </item>

      <item>
        <name>Service-To-Stage-Map</name>
        <link>/MPM/default/dialog/MTFleXML/editxml_extensions.asp?xmlFile=/config/pipeline/servicetostagemap.xml&amp;Schema=/MPM/default/dialog/MTFleXML/schema/pipeline/ServiceToStageMapSchema.xml</link>
        <target>fmeMain</target>
      </item>
      
      <item>
        <name>Reason Codes</name>
        <link>/MPM/default/dialog/Adjustments/EditReasonCodes.asp</link>
        <target>fmeMain</target>
      </item>      
      <item>
        <name>Applicability Rules</name>
        <link>/MPM/default/dialog/Adjustments/EditApplicabilityRules.asp</link>
        <target>fmeMain</target>
      </item>
      
    </MenuGroup>

    
    <!-- Priceable Item Configuration -->
    <MenuGroup>
      <name>Priceable Items</name>
      <item>
        <name>Create New Priceable Item Type</name>
        <link>/MPM/Default/Dialog/PIWizard/WizardStart.asp?Path=/MPM/Default/Dialog/PIWizard&amp;PageID=start</link>
        <target>fmeMain</target>          
        <icon>menu_link_new.gif</icon>
      </item>

      <AUTODETECT>PriceableItems</AUTODETECT>      
    </MenuGroup>

   
  
    <!-- Parameter Table Configuration -->
    <MenuGroup>
      <name>Parameter Tables</name>
      <item>
        <name>Create New Parameter Table</name>
        <link>/MPM/default/dialog/ParameterTables/CreateParameterTable.asp</link>
        <target>fmeMain</target>
        <icon>menu_link_new.gif</icon>        
      </item>
      
      <AUTODETECT>ParameterTables</AUTODETECT>
    </MenuGroup>

    <MenuGroup>
	    <name>Dynamic Web Services</name> 
	    <item>
		    <name>New Product</name>
  		  <link>/MPM/default/dialog/DynamicService/WizardStart.asp?Path=/MPM/Default/Dialog/DynamicService&amp;PageID=start</link>
  		  <target>fmeMain</target>
        <icon>menu_link_new.gif</icon>
	    </item>
  	
      <AUTODETECT>WebServiceDynamic</AUTODETECT>
    </MenuGroup>
      
      <!-- Service Defs -->
      <MenuGroup>
        <name>Service Definitions</name>
        
        <item>
          <name>Create New Service Definition</name>
          <link>/MPM/default/dialog/MSIX/CreateServiceDefinition.asp</link>
          <target>fmeMain</target>
          <icon>menu_link_new.gif</icon>
        </item>
        
        <AUTODETECT>ServiceDefinitions</AUTODETECT>
      </MenuGroup>
      
      <!-- Product Views -->
      <MenuGroup>
        <name>Product Views</name>
         
        <item>
          <name>Create New Product View</name>
          <link>/MPM/default/dialog/MSIX/CreateProductView.asp</link>
          <target>fmeMain</target>
          <icon>menu_link_new.gif</icon>
        </item>
        
        <AUTODETECT>ProductViews</AUTODETECT>
      </MenuGroup>
      
      <!-- Account Types -->
      <MenuGroup>
        <name>Account Types</name>
         
        <item>
          <name>Create New Account Type</name>
          <link>/MPM/default/dialog/AccountTypes/NewAccountType.asp</link>
          <target>fmeMain</target>
          <icon>menu_link_new.gif</icon>
        </item>
        
        <AUTODETECT>AccountTypes</AUTODETECT>
      </MenuGroup>
      
      <!-- Account Views -->
      <MenuGroup>
        <name>Account Views</name>
         
        <item>
          <name>Create New Account View</name>
          <link>/MPM/default/dialog/MSIX/CreateAccountView.asp</link>
          <target>fmeMain</target>
          <icon>menu_link_new.gif</icon>
        </item>
        
        <AUTODETECT>AccountViews</AUTODETECT>
      </MenuGroup>

      
      <!-- Stages -->
      <MenuGroup>
        <name>Stages</name>
        <item>
          <name>Create New Stage</name>
          <link>/MPM/default/dialog/Stage/CreateStage.asp</link>
          <target>fmeMain</target>
          <icon>menu_link_new.gif</icon>
        </item>
        
        <AUTODETECT>Stages</AUTODETECT>
      </MenuGroup>
      
      <!-- Plugins -->
      <MenuGroup>
        <name>Plug-Ins</name>
        
        <item>
          <name>Create New Plug-In</name>
          <link>/MPM/default/dialog/Plugins/NewPlugin.asp</link>
          <target>fmeMain</target>
          <icon>menu_link_new.gif</icon>
        </item>
        
        <AUTODETECT>Plugins</AUTODETECT>
      </MenuGroup>

  </MetraTech>